.products-container {
	display: grid;
	grid-template-columns: repeat(4, 350px);
	/* grid-auto-rows: 500px; */
	justify-content: center;
	gap: 40px;
	margin: 40px 0;
}
.products-container .product {
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.281);
	width: 100%;
	display: flex;
	flex-direction: column;
}
.product img {
	width: 100%;
	max-height: 350px;
	object-fit: cover;
	object-position: center;
}
.product .content {
	padding: 14px;
	padding-top: 0;
	gap: 15px;
}
.product .title {
	font-weight: bold;
}
.product .title:hover {
	text-decoration: underline;
}
.product form {
	margin: 14px;
	margin-top: auto;
}
.product .add-cart {
	background-color: var(--action);
	color: var(--main-color);
	border-radius: 4px;
	border: none;
	padding: 8px 14px;
	width: 100%;
	cursor: pointer;
	transition: all 0.2s;
}
.product .add-cart:hover {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.337);
	background-color: var(--second-color);
}
.product .add-cart:disabled {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.337);
	background-color: rgb(175, 174, 174);
}

/* for each individual products */
.single-product-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15px;
	margin-top: 40px;
	border-radius: 8px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.337);
	padding: 30px;
	width: 1000px;
	margin: 40px auto;
}
.single-product-wrapper img {
	width: 100%;
	max-width: 400px;
	/* max-height: 350px; */
	object-fit: cover;
	object-position: center;
}
.single-product-wrapper .product-content {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.product-content .title, .product-content .pricing {
	font-weight: bold;
}
.product-content .add-cart {
	background-color: var(--action);
	color: var(--main-color);
	border-radius: 4px;
	border: none;
	padding: 12px 14px;
	font-size: 1.1rem;
	width: 100%;
	cursor: pointer;
	transition: all 0.2s;
}
.product-content .add-cart:hover {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.337);
	background-color: var(--second-color);
}
.product-content .add-cart:disabled {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.337);
	background-color: rgb(175, 174, 174);
}
