@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
:root {
  --main-color: #f5f5dc;
  --second-color: #121212;
  /* --accent-color: #00b7fc; */
  --accent-color: #d1e0c4;

  --soft-accent: #d1e0c4;
  --darker-accent: #a68c6e;
  --action: #e94c8c;
}

/* general css start */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  color: var(--second-color);
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
}

main {
  flex: 1;
}

ul li {
  list-style: none;
}

.heading-container {
	position: sticky;
	top: 0;
	z-index: 5;
	background-color: inherit;
}
nav {
  /* background-color: var(--accent-color); */
  /* border-bottom: 1px solid var(--second-color); */
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 30px;
  font-weight: bold;
  font-size: 1.1rem;
  box-shadow: 0 0 10px 3px rgba(66, 66, 66, 0.545);
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

footer {
  padding: 0 30px;
  min-height: 300px;
  background-color: var(--accent-color);
}

.sale-banner {
  background-color: var(--second-color);
  color: var(--main-color);
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* general css end */

/* homepage start */

.home-hero {
  display: block;
  margin: 40px auto;
	max-height: 600px;
	/* width: 100%; */
	object-fit: cover;
	object-position: center;
}

.header {
  width: 40%;
  margin: 50px auto 0px;
  color: white;
  background: #5f9ea0;
  text-align: center;
  border: 1px solid #b0c4de;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form,
.content {
  width: 40%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #b0c4de;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
#user_type {
  height: 40px;
  width: 98%;
  padding: 5px 10px;
  background: white;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5f9ea0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}
.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
.profile_info img {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.profile_info div {
  display: inline-block;
  margin: 5px;
}
.profile_info:after {
  content: "";
  display: block;
  clear: both;
}

/* temporary tests */
td {
  padding: 20px;
}
table {
  margin: 0 auto;
}

.product-img {
  width: 100px;
}
.products-container {
  display: block;
  width: 50%;
  margin: 30px auto;
  font-size: 1rem;
}
.edit-products {
  text-align: center;
  font-size: 18px;
  margin: 10px auto;
}
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.yellow {
  background-color: yellow;
  color: black;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  height: 100px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

.active {
  color: green;
	text-decoration: underline;
}
