.secret-note {
	text-decoration: underline;
	color: var(--action);
}
/* user profile */
.profile-main-wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  margin: 30px auto;
}
.profile-main-wrapper a {
  text-decoration: underline;
}
.profile-main-wrapper a:hover {
  color: blue;
}
.profile-banner {
  background-color: var(--main-color);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.283);
  gap: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  max-width: 600px;
  min-width: 400px;
  max-height: 300px;
  height: 100%;
}
.profile-banner .profile-title {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.profile-info {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.profile-info img {
  width: 100%;
  max-width: 70px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.user-details {
}

/* products layout within admin home */
.profile-content {
  border-radius: 10px;
  min-width: 800px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.283);
  padding: 30px;
}
.profile-content .title {
	font-weight: bold;
	font-size: 1.3rem;
}

.admin-product-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.admin-product-header {
  display: flex;
  gap: 10px;
}
.admin-products {
  display: grid;
  grid-template-columns: repeat(4, 230px);
  gap: 30px;
}
.admin-product {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.283);
}
.admin-product img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.admin-product .admin-product-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.admin-product-details .title {
  font-weight: bold;
}
.admin-product-details a {
  margin-top: 5px;
  width: 30px;
  font-weight: bold;
}

.admin-user-details div {
  margin-bottom: 10px;
}
.admin-user-details .title {
  font-weight: bold;
}

/* navbar within admin home for different tabs */
.admin-navbar {
  display: flex;
  gap: 10px;
}
.active {
  color: rgb(0, 163, 0);
}

/* cart product layout */
.cart-wrapper,
.checkout-wrapper {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.305);
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px auto;
  width: 70%;
  min-width: 380px;
  max-width: 1400px;
}
.cart-products-wrapper {
  /* wraps all products */
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cart-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.cart-title a {
  font-size: 1rem;
  font-weight: normal;
  color: blue;
  text-decoration: underline;
}
.cart-title a:hover {
  color: var(--action);
}
.cart-product {
  /* each individual products */
  display: flex;
  gap: 30px;
}
.cart-product .title {
  font-weight: bold;
  font-size: 1.1rem;
}
.cart-product img {
  width: 150px;
  border-radius: 6px;
  object-fit: cover;
  object-position: center;
}
.cart-product-details {
  display: flex;
  flex-direction: column;
}
.in-stock {
  color: #00a200;
}
.cart-product-details a {
  text-decoration: underline;
  color: blue;
}
.cart-product-details a:hover {
  color: var(--action);
}
.cart-pricing .price {
  font-weight: bold;
  font-size: 1.2rem;
}
.cart-pricing .checkout-btn,
.delivery-form button,
.product-form button {
  display: inline-block;
  text-align: center;
  padding: 8px 14px;
  border: none;
  margin: 12px 0;
  border-radius: 5px;
  background-color: var(--action);
  color: var(--main-color);
  cursor: pointer;
  transition: all 0.3s;
}
.cart-pricing .checkout-btn:hover,
.delivery-form button:hover,
.product-form button:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.337);
  background-color: var(--second-color);
}

/* checkout section */
.checkout-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.delivery-form div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 15px;
}
.delivery-form div input, .delivery-form select {
  min-width: 280px;
  max-width: 800px;
  font-size: 1rem;
	padding: 5px;
}
.delivery-form button {
  font-size: 1rem;
  padding: 10px 18px;
}

.empty-cart {
	width: 400px;
	margin: 30px auto;
}
.empty-cart .title {
	font-size: 1.4rem;
	font-weight: bold;
}

/* update/new product forms, login/signup forms */
.form-wrapper {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.305);
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
	align-items: center;
  gap: 4px;
  margin: 30px auto;
  width: 70%;
  min-width: 380px;
  max-width: 700px;
}
.product-form {
  display: flex;
  flex-direction: column;
	gap: 4px;
}
.product-form div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 8px;
}
.product-form input, .product-form select, .product-form textarea {
  min-width: 450px;
  max-width: 800px;
  font-size: 1rem;
	padding: 6px;
}
.product-form select {
  font-size: 1rem;
}
.product-form button {
  font-size: 1rem;
  padding: 10px 18px;
}
.product-form textarea {
	height: 100px;
}

.form-link {
  text-decoration: underline;
  color: blue;
	cursor: pointer;
}
.form-link:hover {
  color: var(--action);
}
